<% if (config.author){ %>
  (c) <span itemprop="copyrightYear"><%= new Date().getFullYear() %></span>
  <span itemprop="copyrightHolder"  itemscope itemtype="http://schema.org/Person">
  <% if (config.author_link){ %>
    <a href="<%= config.author_link %>" rel="author" itemprop="url"><span itemprop="name"><%= config.author %></span></a>
  <% } else { %>
      <span itemprop="name"><%= config.author %></span>
  <% } %>
  </span>
<% } else { %>
&copy; <%= new Date().getFullYear() %> <%= config.title %>
<% } %>
| Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" rel="license" itemprop="license">CC BY 3.0</a>
| Powered by <a href="http://hexo.io">hexo</a>

